@use '../../global/var' as v;
@use '../../global/mixin' as m;

@mixin options {
    display: flex;
    flex-flow: row wrap;
    height: 2.5rem;
    overflow-y: auto;

    &__option {
        background-color: v.$color-pale;
        border-radius: 3px;
        margin: 0.25rem;
        padding: 0.25rem;
        height: 1.35rem;
        display: grid;
        grid-template-columns: 1fr 0.7rem;
        column-gap: 0.5rem;
        align-items: center;
        overflow-x: hidden;
        white-space: nowrap;

        & .label {
            font-family: v.$font-monospace;
            font-size: 0.85rem;
            line-height: 1;
        }

        & .close {
            @include m.close-button($size: 0.7rem);
        }
    }
}
