@use '../../global/var' as v;

@mixin selection {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;

    &__option {
        background-color: v.$colorPale;
        border-radius: 5px;
        margin: 0.25rem;
        padding: 5px;
        display: flex;
        flex-wrap: nowrap;

        & .label {
            font-family: v.$fontMonospace;
            font-size: 0.85rem;
            line-height: 1;
            align-self: center;
        }

        & .close {
            position: relative;
            height: 0.7rem;
            width: 0.7rem;
            cursor: pointer;
            margin-left: 0.5rem;
            align-self: center;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                height: 1px;
                width: 100%;
                background-color: v.$colorPop;
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}
