@import 'https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Code+Pro&display=swap';

$fontSansSerif: 'Oxygen', sans-serif;
$fontMonospace: 'Source Code Pro', monospace;

$colorPop: #d34633;
$colorSoft: #e4b99b;
$colorPale: #c8d1d8;
$colorBase: #239eca;
$colorDark: #174460;
$white: #e8edf1;
$black: #03090e;
