# general ignores
**/.env
**/.envrc
**/.direnv
**/.tool-versions
**/.git*
docker-compose.yml
/resources

# django specific ignores
/media
/static
**/__pycache__

# client app ignores
**/client_app
.prettierrc*
babel.config*
