// ways to share scss variables to JS:
// https://github.com/webpack-contrib/css-loader#auto
// export in seperate file to prevent being redundantly imported/exported in stylesheet

@use 'sass:string';
@use './var' as v;
@use './function' as f;

:export {
    dur_slow: f.trim-unit(v.$tran-dur-slow);
    dur_normal: f.trim-unit(v.$tran-dur-normal);
    dur_fast: f.trim-unit(v.$tran-dur-fast);
    pose_prev: v.$pose-prev;
    pose_current: v.$pose-current;
    pose_next: v.$pose-next;
    ratio_switch: string.unquote(v.$ratio-switch);
}
