@use '../../scss/global/var' as v;
@use '../../scss/global/mixin' as m;

.megaFilter {
    margin-top: 2rem;

    &__top {
        background-color: #fff;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1.5rem;
        gap: 1rem;

        @include m.tiny-width {
            padding: 1rem;
        }
    }

    &__center {
        & .transition-wrapper {
            overflow: hidden;
            margin-top: 1rem;
            --max-height: calc(30 * var(--vh));

            &.transition {
                &-enter {
                    max-height: 0;
                    transition: max-height v.$tran-dur-fast;

                    &-active,
                    &-done {
                        max-height: var(--max-height);
                    }
                }

                &-exit {
                    max-height: var(--max-height);

                    &-active {
                        max-height: 0;
                        transition: max-height v.$tran-dur-fast;
                    }
                }
            }
        }
    }

    &__bottom {
        position: relative;
        --height: 60vmin;

        & .transition-wrapper {
            @include m.big-soft-shadow;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 1rem 2rem;
            @include m.tiny-width {
                padding: 1rem;
            }
            background-color: #fff;
            border-top-style: solid;
            border-top-color: v.$color-pale;
            border-top-width: 0;
            border-radius: 10px 10px 10px 10px;
            overflow: hidden;
            transition: border v.$tran-dur-fast, padding v.$tran-dur-fast,
                max-height v.$tran-dur-fast;

            &.with-selections {
                border-top-width: 1px;
                border-radius: 0 0 10px 10px;
            }

            &.transition {
                &-enter {
                    max-height: 0;
                    padding: 0 2rem;
                    @include m.tiny-width {
                        padding: 0 1rem;
                    }
                    transition: all v.$tran-dur-fast;

                    &-active,
                    &-done {
                        padding: 1rem 2rem;
                        @include m.tiny-width {
                            padding: 1rem;
                        }
                        max-height: var(--height);
                    }
                }

                &-exit {
                    padding: 1rem 2rem;
                    @include m.tiny-width {
                        padding: 1rem;
                    }
                    max-height: var(--height);

                    &-active {
                        max-height: 0;
                        padding: 0 2rem;
                        @include m.tiny-width {
                            padding: 0 1rem;
                        }
                        border-top-width: 0;
                        transition: border v.$tran-dur-fast,
                            all v.$tran-dur-fast;
                    }
                }
            }
        }
    }
}
