@use '../../../scss/global/var' as v;
@use '../../../scss/global/mixin' as m;

.megaFilter__bottom__dropdown {
    touch-action: pan-y;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    // deduct the parent padding
    max-height: calc(var(--height) - 2rem);
    display: grid;
    column-gap: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(12ch, 1fr));

    @include m.small-width {
        grid-template-columns: repeat(2, minmax(12ch, 1fr));
    }

    @include m.tiny-width {
        grid-template-columns: 1fr;
    }

    &__label {
        color: v.$color-dark;
        text-transform: uppercase;
        font-weight: bold;
        cursor: default;
        padding: 3px;
        margin: 0.3rem auto;
    }

    &__option {
        font-family: v.$font-monospace;
        font-size: 0.85rem;
        margin-bottom: 0.2rem;
        padding: 2px;
        background-color: none;
        transition: background-color v.$tran-dur-fast;

        &:hover {
            background-color: v.$color-pale;
            cursor: pointer;
        }

        &.selected {
            background-color: v.$color-base;

            &:hover {
                background-color: v.$color-pop;
                color: v.$color-pale;
            }
        }
    }
}
