@use '../../scss/global/var' as v;
@use '../../scss/global/mixin' as m;

.megaFilter {
    margin-top: 2rem;

    &__top {
        background-color: #fff;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1.5rem;
        gap: 1rem;

        @include m.tiny-width {
            padding: 1rem;
        }
    }

    &__center {
        & .transition-wrapper {
            overflow: hidden;
            margin-top: 1rem;
            --max-height: calc(30 * var(--vh));
            transform-origin: center top;

            &.transition {
                &-enter {
                    max-height: 0;
                    &-active,
                    &-done {
                        max-height: var(--max-height);
                        transition: max-height v.$tran-dur-normal;
                    }
                }
                &-exit {
                    max-height: var(--max-height);
                    &-active,
                    &-done {
                        max-height: 0;
                        transition: max-height v.$tran-dur-fast;
                    }
                }
            }
        }
    }

    &__bottom {
        position: relative;
        --height: 60vmin;
    }
}
