@use './projCarouselParts/transition';
@use '../global/var' as v;
@use '../global/mixin' as m;
@use './projCarouselParts/projs' as projs;
@use './projCarouselParts/carouselNav' as carousel-nav;
@use './projCarouselParts/proj' as proj;

.carousel {
    position: relative;

    &__message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 2rem;
        font-weight: lighter;
        text-align: center;
        color: v.$color-pale;

        @include m.small-width {
            font-size: 1.5rem;
        }
    }

    &__projs {
        @include projs.projs;

        @include carousel-nav.nav;

        &__proj {
            @include proj.proj;
        }
    }
}
