@use './projCarouselParts/transition';
@use '../global/var' as v;
@use '../global/mixin' as m;
@use './projCarouselParts/projs' as projs;
@use './projCarouselParts/proj' as proj;

.delete-me {
    position: fixed;
    left: 3rem;
    bottom: 2rem;
    display: flex;
    align-items: center;

    & h4,
    & h3 {
        line-height: 1;
    }

    & h4 {
        margin: 0 2rem;
    }

    & button {
        width: 4rem;
        height: 2rem;
        cursor: pointer;
    }
}

.carousel {
    position: relative;

    &__message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 2rem;
        font-weight: lighter;
        text-align: center;
        color: v.$color-pale;

        @include m.small-width {
            font-size: 1.5rem;
        }
    }

    &__projs {
        @include projs.projs;

        &__proj {
            @include proj.proj;
        }
    }
}
