// ways to share scss variables to JS:
// https://github.com/webpack-contrib/css-loader#auto
// export in seperate file to prevent being redundantly imported/exported in stylesheet

@use './var' as v;
@use './function' as f;

:export {
    dur_slow: f.trim-unit(v.$tran-dur-slow);
    dur_normal: f.trim-unit(v.$tran-dur-normal);
    dur_fast: f.trim-unit(v.$tran-dur-fast);
    class_fade: v.$tran-class-fade;
    carousel_prev: v.$carousel-prev;
    carousel_center: v.$carousel-center;
    carousel_next: v.$carousel-next;
    carousel_off_prev: v.$carousel-off-prev;
    carousel_off_next: v.$carousel-off-next;
}
