@use './var' as v;

@mixin remove-default-outline {
    &,
    &:focus,
    &:visited {
        outline: none;
        border: none;
    }
}

@mixin big-soft-shadow {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

@mixin thin-soft-shadow {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

@mixin medium-width {
    @media (max-width: v.$screen-medium) {
        & {
            @content;
        }
    }
}

@mixin small-width {
    @media (max-width: v.$screen-small) {
        & {
            @content;
        }
    }
}

@mixin tiny-width {
    @media (max-width: v.$screen-tiny) {
        & {
            @content;
        }
    }
}

@mixin landscape {
    @media (orientation: landscape) {
        & {
            @content;
        }
    }
}

@mixin portrait {
    @media (orientation: portrait) {
        & {
            @content;
        }
    }
}

@mixin portrait-prism {
    @media (max-aspect-ratio: v.$ratio-switch) {
        @content;
    }
}

@mixin close-button(
    $size: 100%,
    $line-thickness: 1px,
    $line-thickness-on-hover: 3px,
    $color-normal: v.$color-dark,
    $color-hover: v.$color-pop
) {
    display: block;
    width: $size;
    height: $size;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        height: $line-thickness;
        background-color: $color-normal;
        transform: translateY(-50%) rotate(45deg);
    }

    &::after {
        transform: translateY(-50%) rotate(-45deg);
    }

    &:hover {
        &::before,
        &::after {
            height: $line-thickness-on-hover;
            background-color: $color-hover;
        }
    }
}
