@import 'https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Code+Pro&display=swap';

$font-sans-serif: 'Oxygen', sans-serif;
$font-monospace: 'Source Code Pro', monospace;

$color-pop: #d34633;
$color-soft: #e4b99b;
$color-pale: #c8d1d8;
$color-base: #239eca;
$color-dark: #174460;
$color-white: #e8edf1;
$color-black: #03090e;

$width-content-max: 1200px;
$width-content-normal: 900px;

$screen-medium: 1024px;
$screen-small: 768px;
$screen-tiny: 480px;

// for transitions
$tran-dur-slow: 1000ms;
$tran-dur-normal: 400ms;
$tran-dur-fast: 200ms;
$tran-class-fade: tran-fade;
$carousel-prev: prev;
$carousel-center: center;
$carousel-next: next;
$carousel-off-prev: off-prev;
$carousel-off-next: off-next;
