@use '../../global/var';

@mixin proj {
    &.show {
        // Necessary for preventing 'pointercancel' event from being fired when
        // browser default actions like scroll or zoom is triggered, otherwise
        // will have to setup event listeners for both mouseevent and touchevent
        // https://developers.google.com/web/updates/2016/10/pointer-events
        touch-action: none;
    }

    & img {
        width: 100%;
        height: 100%;
        object-position: center top;
        object-fit: cover;
    }
}
