@use '../../global/var' as v;

.carousel {
    &-message {
        &-enter {
            opacity: 0;

            &-active {
                opacity: 1;
                transition: all v.$tran-dur-fast;
            }
        }

        &-exit {
            opacity: 1;

            &-active {
                opacity: 0;
                transition: all v.$tran-dur-fast;
            }
        }
    }

    &-projs {
        &-enter {
            opacity: 0;
            transform: scale(0);

            &-active {
                opacity: 1;
                transform: scale(1);
                transition: all v.$tran-dur-slow;
            }
        }

        &-exit {
            opacity: 1;
            transform: scale(1);

            &-active {
                opacity: 0;
                transform: scale(0);
                transition: all v.$tran-dur-slow;
            }
        }
    }
}
