@use '../../global/var' as v;
@use '../../global//mixin' as m;
@use './projs' as projs;

.carousel .transition {
    &__message {
        &-enter {
            opacity: 0;

            &-active {
                opacity: 1;
                transition: all v.$tran-dur-fast;
            }
        }

        &-exit {
            opacity: 1;

            &-active {
                opacity: 0;
                transition: all v.$tran-dur-fast;
            }
        }
    }

    &__projs {
        &-enter {
            opacity: 0;
            transform: scale(0);

            &-active {
                opacity: 1;
                transform: scale(1);
                transition: all v.$tran-dur-fast;
            }
        }

        &-exit {
            opacity: 1;
            transform: scale(1);

            &-active {
                opacity: 0;
                transform: scale(0);
                transition: all v.$tran-dur-fast;
            }
        }
    }

    &__proj {
        &-enter {
            opacity: 0;

            &-active {
                opacity: projs.$prism-face-ready-opacity;
                transition: opacity v.$tran-dur-fast;
            }
        }

        &-exit {
            opacity: projs.$prism-face-ready-opacity;

            &-active {
                opacity: 0;
                transition: opacity v.$tran-dur-fast;
            }
        }
    }
}
